Repository proophboard/cody-engine, pull requests merged in 2023-07, with the labels that each got.

#26 feat(Cody): Add on-policy hook
  packages/be/src/infrastructure/MessageBus.ts
  packages/be/src/infrastructure/configuredCommandBus.ts
  packages/be/src/infrastructure/configuredEventBus.ts
  packages/be/src/infrastructure/configuredEventStore.ts
  packages/be/src/infrastructure/configuredMessageBox.ts
  packages/be/src/infrastructure/configuredQueryBus.ts
  packages/be/src/infrastructure/types.ts
  packages/be/src/main.ts
  packages/be/src/policies/index.ts.cetmpl
  packages/cody/codyconfig.ts
  packages/cody/src/lib/hooks/on-event.ts
  packages/cody/src/lib/hooks/on-policy.ts
  packages/cody/src/lib/hooks/policy-files/be/policies/__service__/__fileName__.desc.ts__tmpl__
  packages/cody/src/lib/hooks/policy-files/be/policies/__service__/__fileName__.ts__tmpl__
  packages/cody/src/lib/hooks/utils/event/get-event-metadata.ts
  packages/cody/src/lib/hooks/utils/get-original-node.ts
  packages/cody/src/lib/hooks/utils/policy/always-trigger-command.ts
  packages/cody/src/lib/hooks/utils/prooph-board-info.ts
  packages/cody/src/lib/hooks/utils/registry.ts
  packages/cody/src/lib/hooks/utils/rule-engine/configuration.ts
  packages/cody/src/lib/hooks/utils/rule-engine/convert-rule-config-to-behavior.ts
  packages/cody/src/lib/hooks/utils/ui/upsert-list-view-component.ts
  packages/cody/src/lib/hooks/utils/value-object/definitions.ts
  packages/contribution/src/generators/prepare-contribution/files/be/src/policies/__tmpl__.gitignore
  packages/contribution/src/generators/prepare-contribution/files/be/src/policies/index.ts
  packages/descriptions/src/lib/descriptions.ts
  packages/extensions/src/lib/be/policies.ts.cetmpl
  packages/infrastructure/src/lib/ServiceRegistry.ts
  packages/infrastructure/src/lib/commandHandling.ts
  packages/shared/src/lib/utils/get-external-service.ts
Labels: enhancement, cody, backend

#27 feat(Cody): Derive query filter from query schema
  packages/cody/src/lib/hooks/on-policy.ts
  packages/cody/src/lib/hooks/query-files/be/query-resolvers/__service__/resolve-__fileName__.ts__tmpl__
  packages/cody/src/lib/hooks/utils/query/make-query-resolver.ts
  packages/cody/src/lib/hooks/utils/registry.ts
  packages/infrastructure/src/lib/DocumentStore/Filter/index.ts
  packages/shared/src/lib/utils/map-properties.ts
Labels: enhancement, cody, backend

#28 feat(Cody): Handle forEach rule
  packages/cody/src/lib/hooks/utils/rule-engine/configuration.ts
  packages/cody/src/lib/hooks/utils/rule-engine/convert-rule-config-to-behavior.ts
  packages/fe/src/app/components/core/CommandDialog.tsx
Labels: enhancement, cody, backend

#29 fix: Circular dependency caused by policy
  packages/be/src/policies/index.ts.cetmpl
  packages/extensions/src/lib/be/policies.ts.cetmpl
  packages/fe/src/app/components/commands.ts.cetmpl
  packages/fe/src/app/components/core/form/widgets/DataSelectWidget.tsx
  packages/infrastructure/src/lib/PolicyRegistry
Labels: bug, cody

#30 fix: Circular deps II
  packages/be/src/policies/index.ts.cetmpl
  packages/extensions/src/lib/be/policies.ts.cetmpl
  packages/infrastructure/src/lib/PolicyRegistry
  packages/infrastructure/src/lib/PolicyRegistry.ts
Labels: bug, cody

#34 feat(Extensions): Split extensions package
  README.md
  packages/be/Dockerfile
  packages/be/package.json
  packages/be/src/extensions/command-handlers.ts.cetmpl
  packages/be/src/extensions/event-reducers.ts.cetmpl
  packages/be/src/extensions/get-external-service.ts
  packages/be/src/extensions/policies.ts.cetmpl
  packages/be/src/extensions/query-resolvers.ts.cetmpl
  packages/be/src/extensions/services.ts.cetmpl
  packages/be/src/infrastructure/MessageBus.ts
  packages/be/src/infrastructure/configuredCommandBus.ts
  packages/be/src/infrastructure/configuredDocumentStore.ts
  packages/be/src/infrastructure/configuredEventBus.ts
  packages/be/src/infrastructure/configuredEventStore.ts
  packages/be/src/infrastructure/configuredMessageBox.ts
  packages/be/src/infrastructure/configuredQueryBus.ts
  packages/cody/src/lib/hooks/aggregate-files/be/repositories/__service__/__aggregate__/repository.ts__tmpl__
  packages/contribution/src/generators/prepare-contribution/files/be/src/command-handlers/fleet-management/car/handle-add-car-to-fleet.ts
  packages/contribution/src/generators/prepare-contribution/files/be/src/command-handlers/fleet-management/car/handle-update-car.ts
  packages/contribution/src/generators/prepare-contribution/files/be/src/extensions/__tmpl__.gitignore
  packages/contribution/src/generators/prepare-contribution/files/be/src/repositories/fleet-management/car/repository.ts
  packages/contribution/src/generators/prepare-contribution/files/extensions/src/lib/__tmpl__.gitignore
  packages/contribution/src/generators/prepare-contribution/files/extensions/src/lib/be/command-handlers.ts
  packages/contribution/src/generators/prepare-contribution/files/extensions/src/lib/be/event-reducers.ts
  packages/contribution/src/generators/prepare-contribution/files/extensions/src/lib/be/query-resolvers.ts
  packages/contribution/src/generators/prepare-contribution/files/extensions/src/lib/be/services.ts
  packages/contribution/src/generators/prepare-contribution/files/fe/src/extensions/__tmpl__.gitignore
  packages/contribution/src/generators/prepare-contribution/files/shared/src/lib/extensions/__tmpl__.gitignore
  packages/extensions/.eslintrc.json
  packages/extensions/README.md
  packages/extensions/jest.config.ts
  packages/extensions/project.json
  packages/extensions/src/index.ts
  packages/extensions/tsconfig.json
  packages/extensions/tsconfig.lib.json
  packages/extensions/tsconfig.spec.json
  packages/fe/src/app/layout/theme.ts
  packages/fe/src/extensions/app/layout/theme.ts.cetmpl
  packages/infrastructure/package.json
  packages/messaging/package.json
  packages/messaging/src/lib/test-helper.ts
  packages/shared/package.json
  packages/shared/src/lib/extensions/get-configured-jexl.ts.cetmpl
  packages/shared/src/lib/jexl/get-configured-jexl.ts
  tsconfig.base.json
Labels: bug, enhancement

#36 feat(Personas): Introduce personas
  packages/cody/codyconfig.ts
  packages/cody/src/lib/hooks/on-command.ts
  packages/cody/src/lib/hooks/on-policy.ts
  packages/cody/src/lib/hooks/on-role.ts
  packages/cody/src/lib/hooks/ui-files/command-files/app/components/__service__/commands/__className__.tsx__tmpl__
  packages/cody/src/lib/hooks/ui-files/page-files/top-level/__service__/__fileName__.ts__tmpl__
  packages/cody/src/lib/hooks/utils/node-tree.ts
  packages/cody/src/lib/hooks/utils/registry.ts
  packages/cody/src/lib/hooks/utils/ui/get-ui-metadata.ts
  packages/cody/src/lib/hooks/utils/ui/upsert-command-component.ts
  packages/cody/src/lib/hooks/utils/ui/upsert-page-definition.ts
  packages/contribution/src/generators/prepare-contribution/files/fe/src/extensions/__tmpl__.gitignore
  packages/contribution/src/generators/prepare-contribution/files/shared/src/lib/extensions/__tmpl__.gitignore
  packages/contribution/src/generators/prepare-contribution/files/shared/src/lib/types/__tmpl__.gitignore
  packages/contribution/src/generators/prepare-contribution/files/shared/src/lib/types/core/user/__tmpl__.gitignore
  packages/fe/src/app/app.tsx
  packages/fe/src/app/components/core/CommandButton.tsx
  packages/fe/src/app/components/core/CommandForm.tsx
  packages/fe/src/app/components/core/StateView.tsx
  packages/fe/src/app/components/core/UserAvatar.tsx
  packages/fe/src/app/components/core/prototype/PersonaCard.tsx
  packages/fe/src/app/components/core/prototype/PrototypeMode.tsx
  packages/fe/src/app/components/core/welcome.tsx
  packages/fe/src/app/layout/Sidebar.tsx
  packages/fe/src/app/pages/page-definitions.ts
  packages/fe/src/app/providers/User.tsx
  packages/fe/src/assets/account-circle-outline.svg
  packages/fe/src/environments/environment.prod.ts
  packages/fe/src/environments/environment.ts
  packages/fe/src/hooks/use-user.ts
  packages/fe/src/util/schema/normalize-ui-schema.ts
  packages/shared/src/lib/extensions/personas.ts.cetmpl
  packages/shared/src/lib/jexl/get-configured-jexl.ts
  packages/shared/src/lib/types/core/cody/cody-engine-mode.ts
  packages/shared/src/lib/types/core/user/.gitignore
  packages/shared/src/lib/types/core/user/user-role.ts.cetmpl
  packages/shared/src/lib/types/core/user/user.ts
Labels: enhancement, frontned, cody

#37 feat(FE): Add custom command components
  packages/fe/src/app/pages/standard-page.tsx
  packages/fe/src/extensions/app/components/commands.ts.cetmpl
  packages/fe/src/util/components/load-command-components.ts
Labels: enhancement, frontned
